version: '3.7'
services:
  auth-service:
    container_name: "auth-service"
    environment:
      #- MONGO_HOST=mongodb
      - MONGO_HOST=10.1.3.189
      - MONGO_PORT=27017
      - MONGO_USER=root
      - MONGO_PASS=miworld
    restart: always
    logging:
      options:
        max-size: "10m"
        max-file: "10"
    image: "096785992131.dkr.ecr.us-east-2.amazonaws.com/auth-service:latest"
    ports:
      - "8080:8080"
    networks:
      - webnet

  lesson-plans:
    container_name: "lesson-plans"
    environment:
      #- MONGO_HOST=mongodb
      - MONGO_HOST=10.1.3.189
      - MONGO_PORT=27017
      - MONGO_USER=root
      - MONGO_PASS=miworld
      - AUTH_SERVICE_URI=http://auth-service:8080
    restart: always
    logging:
      options:
        max-size: "10m"
        max-file: "10"
    image: "096785992131.dkr.ecr.us-east-2.amazonaws.com/lesson-plans:latest"
    networks:
      - webnet
    ports:
      - "8090:8090"

  survey:
    container_name: "assessment"
    environment:
      #- MONGO_HOST=mongodb
      - MONGO_HOST=10.1.3.189
      - MONGO_PORT=27017
      - MONGO_USER=root
      - MONGO_PASS=miworld
      - AUTH_SERVICE_URI=http://auth-service:8080
    restart: always
    logging:
      options:
        max-size: "10m"
        max-file: "10"
    image: "096785992131.dkr.ecr.us-east-2.amazonaws.com/assessment:latest"
    networks:
      - webnet
    ports:
      - "8092:8092"

  api-gateway:
    container_name: "api-gateway"
    environment:
      - lessonplanUri=http://lesson-plans:8090/lessonplans
      - assessmentUri=http://auth-service:8080/assessments
      - authUri=http://auth-service:8080/auth
    restart: always
    logging:
      options:
        max-size: "10m"
        max-file: "10"
    image: "096785992131.dkr.ecr.us-east-2.amazonaws.com/api-gateway:latest"
    networks:
      - webnet
    ports:
      - "8000:8000"

networks:
  webnet:
    driver: bridge